@{
    ViewData["Title"] = "Home Page";
}

@model BookListViewModel

<!--Create a book card for each book that is in the Model using the partial view: BookSummary.cshtml-->
<div class="container">
    <div class="row row-cols-1">
        @foreach (var x in Model.Books)
        {
            <partial name="BookSummary" model="x"/>
        }
    </div>
</div>
<div class="text-center">
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn"
         page-class-normal="btn-outline-secondary"
         page-class-selected="btn-dark"
         class="btn-group m-1" page-url-category="@Model.CurrentCategory"></div>
</div>


