.card:hover {
    box-shadow: 8px 8px 8px blue;
    transform: scale(1.08);
}

.card{
    transition:.6s;
}

/*.main-container{
    background-image: url(../bg.jpg);
    background-attachment:fixed;
    background-repeat: no-repeat;
}*/

